.use__denteth{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 40px;
}

.use__Den__img{
    width: 400px;
    height: 300px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.use__Den__img img{
    width: 100px;
}

.use__Den__img:first-child img{
    width: 90px;
} 

.use__Den__img:last-child,
.use__Den__img:nth-child(2){
    gap: 7px;
} 

.use__Den__img p{
    color: var(--bg-py);
}

.use__Den__img h2{
    color: var(--bg-dark);
}

.use__size{
    font-size: 30px;
    font-weight: 700;
}

.use__w{
    font-weight: 400;
    color: #756d6d;
}
