.use__denteth{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 40px;
}

.use__Den__img{
    width: 400px;
    height: 300px;
    border-left: 1px solid #ddd;
    text-align: center;
}
.use__Den__img img{
    width: 100px;
    height: 90px;
}
.use__size{
    font-size: 30px;
    font-weight: 700;
}
.use__w{
    font-weight: 300;
    color: #756d6d;
}

@media screen and (max-width:900px){
    .use__Den__img{
        border: none;
    }
}