.contact__wrapper{
   display: flex;
   height: 400px;
   margin-top: 20px;
}
.contact__box{
   width: 40%;
   padding: 10px 0px;
}
.contact__location__box{
   width: 60%;
}

.input__box{
   position: relative;
   width: 80%;
}

.input__box input {
   width: 100%;
   padding: 10px;
   border: 1px solid gray;
   border-radius: 5px;
   color: #000;
   outline: none;
   font-size: 18px;
   margin-top: 20px;
}

.input__box span{
   position: absolute;
   left: 0;
   padding: 30px 10px;
   transition: .4s;
   pointer-events: none;
}
.contact__box h1{
   color: var(--bg-py);
}

.input__box input:valid ~ span,
.input__box input:focus ~ span{
   padding: 10px 10px 15px 0px;
   margin-left: 10px;
   background: white;
   color: var(--bg-py);
   font-size: 16px;
   height: 5px;
}

.contact__selection{
   width: 100%;
   padding: 10px;
   font-size: 16px;
   border-radius: 5px;
   margin-top: 20px;
   outline: none;
}

.contact__submit__btn{
   padding: 10px 15px;
   border: none;
   outline: none;
   background-color: var(--bg-py);
   border-radius: 5px;
   color: #fff;
   font-size: 18px;
   margin-top: 20px;
   cursor: pointer;
}


@media screen and (max-width: 900px) {
   .contact__box h1{
      font-size: 25px;
   }
}
@media screen and (max-width: 730px) {
   .contact__wrapper{
      flex-direction: column;
      height: auto;
   }
   .contact__box,
   .input__box{
      width: 100%;
   }
   .contact__location__box{
      width: 100%;
      height: 400px;
   }
   .input__box span{
      font-size: 16px;
   }
}

