.banner{
    margin-top: 15px;
}
.banner img{
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 15px;
}
.banner h1{
    position: absolute;
    top: 50px;
    left: 100px;
    color: var( --bg-dark);
}
.banner p{
    position: absolute;
    top: 100px;
    left: 100px;
    color: var( --bg-py);
    font-size: 18px;
}

@media screen and (max-width: 990px){
    .banner img{
        height: 350px;;
    }
}

@media screen and (max-width: 600px){
        .banner img{
            height: 300px;
        }
}

@media screen and (max-width: 450px){
        .banner img{
            height: 200px;
        }
}
